@using System.Diagnostics
@inject IOptionsSnapshot<SiteOptions> SiteOptions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @SiteOptions.Value.AppName</title>
    <meta name="keywords" content="@ViewData["Keywords"]"/>
    <meta name="description" content="@ViewData["Description"]"/>
    <link rel="stylesheet" href="~/css/base.css"/>
    <link rel="stylesheet" href="~/css/m.css"/>
    <link rel="icon" href="~/images/favicon.png" asp-append-version="true"/>
    @await RenderSectionAsync("Headers", false)
</head>
<body>
@await Html.PartialAsync("_HeaderPartial")
<div class="clear blank"></div>
<article>
    @RenderBody()
</article>
@await Html.PartialAsync("_FooterPartial")
@await Html.PartialAsync("_ToolbarPartial")

<script src="~/js/jquery-3.6.1.min.js"></script>
<script src="~/js/main.js"></script>
@await RenderSectionAsync("Scripts", false)

<environment names="Production">
    <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b1c5c62f256893710ae912468261bf6b";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8748951917303002"
            crossorigin="anonymous"></script>
</environment>

</body>
</html>