@page "/ico"
@layout PublicLayout

<PageTitle>@T("IcoToolTitle")</PageTitle>

<div>@T("IcoToolUseMemo")</div>

<MFileInput TValue="IBrowserFile"
            Placeholder="@T("IcoToolMFileInputPlaceholder")"
            Rules="_rules"
            ShowSize
            OnChange="@LoadFile"
            Accept="image/png, image/jpeg, image/jpg, image/bmp"
            Label="@T("IcoToolMFileInputLabel")">
</MFileInput>

@if (!string.IsNullOrWhiteSpace(_sourceFilePath) && File.Exists(_sourceFilePath))
{
    <MButton class="ma-2 white--text"
             Loading="_loading"
             Disabled="_loading"
             Depressed Color="primary"
             OnClick="@ConvertToIcon">
        <LoaderContent>
            <span>@T("IcoToolMButtonLoaderContent")</span>
        </LoaderContent>
        <ChildContent>
            <span>@T("IcoToolMButtonChildContent")</span>
        </ChildContent>
    </MButton>
}