@page "/ico"
@using BlazorComponent
@using BlazorComponent.I18n
@using Dotnet9.Tools.Images
@layout PublicLayout

<PageTitle>@T("IcoToolTitle")</PageTitle>

<h2 style="margin-bottom: 10px; margin-top: 10px; text-align: center;">@T("IcoToolTitle")</h2>

<MRow>
    <MCol>
        <div>@T("IcoToolUseMemo")</div>
    </MCol>
</MRow>

<MRow>
    <MCol Lg="8" Md="8">
        <MFileInput TValue="IBrowserFile"
                    Placeholder="@T("IcoToolMFileInputPlaceholder")"
                    Rules="_rules"
                    ShowSize
                    OnChange="@LoadFile"
                    Accept="image/png, image/jpeg, image/jpg, image/bmp"
                    Label="@T("IcoToolMFileInputLabel")">
        </MFileInput>
    </MCol>

    <MCol Lg="4" Md="4">
        @if (_sourceBrowserFile != null)
        {
            <MButton class="ma-2 white--text"
                     Loading="_loading"
                     Disabled="_loading"
                     Depressed Color="primary"
                     OnClick="@ConvertAndDownloadIcon">
                <LoaderContent>
                    <span>@T("IcoToolMButtonLoaderContent")</span>
                </LoaderContent>
                <ChildContent>
                    <span>@T("IcoToolMButtonChildContent")</span>
                </ChildContent>
            </MButton>
        }
    </MCol>
</MRow>
<MRow>
    <MCol>
        <MButton
            Depressed Color="primary"
            OnClick="() => _showPost = !_showPost">
            @T("HowToDevelopmentDesc")
        </MButton>
        <MButton
            Href="https://dotnet9.com/1715"
            Target="_blank"
            Depressed Color="error">
            @T("ToSuggest")
        </MButton>
        <MButton Dark
                 Color="black"
                 Href="https://github.com/dotnet9/dotnet9.com/blob/develop/src/Dotnet9.Tools.Web/Pages/Public/ImageTools/IcoTool.razor"
                 Target="_blank">
            <MIcon Left>mdi-github</MIcon>
            @T("SourceCode")
        </MButton>
    </MCol>
</MRow>
@if (_showPost)
{
    <MRow>
        <MCol>
            <Markdown FilePath="wwwroot/2022/02/2022-02-22_02.md"/>
        </MCol>
    </MRow>
}

@code
{
    private readonly List<Func<IBrowserFile, StringBoolean>> _rules = new();

    private bool _showPost;
    private bool _loading;
    private IBrowserFile? _sourceBrowserFile;

    [Inject]
    private IJSRuntime _js { get; set; }

    [Inject]
    private I18n I18N { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _rules.Add(value => value == null || value.Size < 2 * 1024 * 1024 ? true : T("IcoToolFileSizeLimitMessage"));
        await base.OnInitializedAsync();
    }

    private void LoadFile(IBrowserFile? e)
    {
        _sourceBrowserFile = e;
    }

    private async Task ConvertAndDownloadIcon()
    {
        if (_sourceBrowserFile == null) return;

        _loading = true;
        var tempSourcePath = Path.GetTempFileName();
        var tempDestPath = Path.GetTempFileName();

        try
        {
            var fileName = $"{Path.GetFileNameWithoutExtension(_sourceBrowserFile.Name)}.ico";
            await UploadFile(tempSourcePath);

            ImagingHelper.ConvertToIcon(tempSourcePath, tempDestPath);

            await DownloadFile(tempDestPath, fileName);
        }
        finally
        {
            DeleteFile(tempSourcePath);
            DeleteFile(tempDestPath);

            _loading = false;
        }
    }

    private async Task UploadFile(string saveFilePath)
    {
        await using var sourceFileStream = new FileStream(saveFilePath, FileMode.Create);
        await _sourceBrowserFile!.OpenReadStream().CopyToAsync(sourceFileStream);
    }

    private async Task DownloadFile(string fromFilePath, string saveFileName)
    {
        await using var destFileStream = new FileStream(fromFilePath, FileMode.Open);
        using var streamRef = new DotNetStreamReference(destFileStream);
        await _js.InvokeVoidAsync("downloadFileFromStream", saveFileName, streamRef);
    }

    private void DeleteFile(string filePath)
    {
        try
        {
            if (File.Exists(filePath)) File.Delete(filePath);
        }
        catch
        {
    // ignored
        }
    }

    public string? T(string key)
    {
        return I18N.LanguageMap.GetValueOrDefault(key);
    }
}

<style>
    h3 {
        border-bottom: 1px solid #eee;
        margin-top: 50px;
        padding-bottom: 10px;
    }

    pre {
        background: #1E1E1E;
        color: #eee;
        overflow-x: auto;
        padding: 0.5em !important;
        white-space: pre;
        word-break: normal;
        word-wrap: normal;
    }

    img, video, source { max-width: 100% }

    pre > code { white-space: pre; }
</style>