@page "/ico"
@layout PublicLayout

<PageTitle>@T(nameof(LanguageKeys.IcoToolTitle))</PageTitle>

<div>@T(nameof(LanguageKeys.IcoUseMemo))</div>

<MFileInput TValue="IBrowserFile"
            Placeholder="@T(nameof(LanguageKeys.IcoToolMFileInputPlaceholder))"
            ShowSize
            OnChange="@LoadFile"
            Accept="image/png, image/jpeg, image/jpg, image/bmp"
            Label="@T(nameof(LanguageKeys.IcoToolMFileInputLabel))">
</MFileInput>

@*<InputFile OnChange="@LoadFile"/>*@

@if (!string.IsNullOrWhiteSpace(_sourceFilePath) && File.Exists(_sourceFilePath))
{
    <MButton class="ma-2 white--text"
             Loading="_loading"
             Disabled="_loading"
             Depressed Color="primary"
             OnClick="@ConvertToIcon">
        <LoaderContent>
            <span>@T(nameof(LanguageKeys.IcoToolMButtonLoaderContent))</span>
        </LoaderContent>
        <ChildContent>
            <span>@T(nameof(LanguageKeys.IcoToolMButtonChildContent))</span>
        </ChildContent>
    </MButton>
}