@model List<Dotnet9.Models.Dtos.Blogs.PostItemModel>


@foreach (var item in Model)
{
    <div class="post-list bg-white pt-4 pb-4 mb-4 shadow-sm">

        <div class="post-item">
            <div class="post-item-title">
                <a class="link-success" asp-page="/Post/Post" asp-route-Id="@item.Id" target="_blank">@item.Title</a>
            </div>

            <div class="post-item-desc  text-body">
                <div class="post-thumb">
                    <img src="@item.Thumb" alt="@item.Title" onerror="this.onerror = '';this.style.display = 'none'"/>
                </div>
                <div class="post-item-body">
                    <div class="post-item-cate text-black-50">
                        <span>
                            @foreach (var cateItem in item.CateItems)
                            {
                                <a class="link-info" asp-page="/Category/Category" asp-route-cateId="@cateItem.Id" asp-route-index="1">@cateItem.CateName</a>
                            }
                        </span>

                        /
                        @if (@item.LastUpdateTime == default)
                        {
                            <span> 创建时间:@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</span>
                        }
                        else
                        {
                            <span> 更新时间:@item.LastUpdateTime.ToString("yyyy-MM-dd HH:mm")</span>
                        }
                        / <span>阅读次数:@item.ReadCount</span>
                    </div>
                    <div class="post-snippit">
                        @Html.Raw(item.Snippet)
                    </div>
                </div>
            </div>
        </div>
    </div>
}