@page "/post/{slug?}"
@using Dotnet9.Tools.Web.Shared.Public
@using Markdig
@using Dotnet9.Tools.Web.Models
@layout DocLayout


@if (_post == null)
{
    <PageTitle>@T("Dotnet9ToolsTitle") - No post found</PageTitle>
    <p>No post found</p>
}
else
{
    <PageTitle>@_post.Title - @T("Dotnet9ToolsTitle")</PageTitle>
    <h1 class="entry-title">@_post.Title</h1>
    <p class="entry-info">
        <span>@(_post.Original ?? T("SiteOwner"))&nbsp;&nbsp;</span>
        @if (_post.OriginalLink != null)
        {
            <span class="dot">•</span>
            <span>@T("PostFrom"): @_post.OriginalLink&nbsp;&nbsp;</span>
        }
        <span> post: @_post.CreateDate</span>
        @if (!string.IsNullOrWhiteSpace(_post.UpdateDate))
        {
            <span class="dot">•</span>
            <span>@_post.UpdateDate</span>
        }
        @if (_post.Albums is {Length: > 0 })
        {
            <span class="dot">•</span>
            <span> Albums: </span>
            @foreach (var item in _post.Albums)
            {
                <a>@item</a>
                <span>,</span>
            }
        }
        @if (_post.Categories is {Length: > 0 })
        {
            <span class="dot">•</span>
            <span> Categories: </span>
            @foreach (var item in _post.Categories)
            {
                <a>@item</a>
                <span>,</span>
            }
        }
        @if (_post.Tags is {Length: > 0 })
        {
            <span class="dot">•</span>
            <span> Tags: </span>
            @foreach (var item in _post.Tags)
            {
                <a>@item</a>
                <span>,</span>
            }
        }
    </p>
    <MRow>
        <MCol>
            <D9Markdown MarkdownContent="@_post.Content"></D9Markdown>
        </MCol>
    </MRow>
}

@code {

    [Parameter]
    public string? Slug { get; set; }
    
    [CascadingParameter]
    public PublicLayout? MainLayout { get; set; }

    private BlogPost? _post;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(Slug))
        {
            _post = ConstDatas.BlogPostItems.FirstOrDefault(x => x.Slug == Slug);
        }
    }

    public string? T(string key)
    {
        return MainLayout?.T(key);
    }

}

<style>
    .entry-title {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 20px;
        margin-top: 0;
    }
</style>