@page "/post/{slug?}"
@using Dotnet9.Tools.Web.Utils
@using Dotnet9.Tools.Web.Models
@using Dotnet9.Tools.Web.Shared.Public
@layout DocLayout


@if (_post == null)
{
    <NotFound/>
}
else
{
    <PageTitle>@_post.Title - D9工具箱</PageTitle>
    <h1 class="entry-title">@_post.Title</h1>

    <p class="entry-info">

        @if (string.IsNullOrWhiteSpace(_post.Original))
        {
            <span>沙漠尽头的狼&nbsp;&nbsp;</span>
        }
        else
        {
            <span>文章来源: <a href="@_post.OriginalLink">@_post.Original&nbsp;&nbsp;</a></span>
        }

        <span class="dot">•</span>
        <span> @_post.CreateDate</span>

        @if (!string.IsNullOrWhiteSpace(_post.UpdateDate))
        {
            <span class="dot"> - </span>
            <span>@_post.UpdateDate</span>
        }

        @if (_post.Albums is {Length: > 0 })
        {
            <span class="dot">•</span>
            @for (var i = _post.Albums.Length - 1; i >= 0; i--)
            {
                var item = _post.Albums[i];
                var album = ConstData.AlbumTreeItems.FirstOrDefault(x => x.Name == item);
                <a href="@album?.Slug.GetAlbumUrl()">@album?.Name</a>
                @if (i > 0)
                {
                    <span>,</span>
                }
            }
        }
        @if (_post.Categories is {Length: > 0 })
        {
            <span class="dot">•</span>
            @for (var i = _post.Categories.Length - 1; i >= 0; i--)
            {
                var item = _post.Categories[i];
                var cat = ConstData.CategoryNotTreeItems.FirstOrDefault(x => x.Name == item);
                <a href="@cat?.Slug.GetCategoryUrl()">@cat?.Name &nbsp;&nbsp;</a>
                @if (i > 0)
                {
                    <span>,</span>
                }
            }
        }
        @if (_post.Tags is {Length: > 0 })
        {
            <span class="dot">•</span>
            @foreach (var item in _post.Tags)
            {
                var tag = ConstData.BlogTagItems.FirstOrDefault(x => x == item);
                <a href="@tag?.GetTagUrl()">@tag &nbsp;&nbsp;</a>
                <span>,</span>
            }
        }
    </p>
    <MRow>
        <MCol>
            <D9Markdown MarkdownContent="@_post.Content"></D9Markdown>
        </MCol>
    </MRow>
    <MRow>
        <MCol>
            <MCard Color="#385F73" Dark>
                @if (_post.CopyrightType == CopyrightType.Default)
                {
                    <p class="pa-3">如未说明，文章均由本站(Dotnet9工具箱)整理、发布，欢迎转载，转载请注明出处：</p>
                    <MCardText Class="white text--primary pb-3">
                        <p>原文出处：<a href="/" alt="D9工具箱">D9工具箱</a></p>
                        <p>原文标题：<a href="@_post.Slug!.GetPostUrl()" alt="@_post.Title">@_post.Title</a></p>
                        <p>原文链接：<a href="@_post.Slug!.GetPostUrl()" alt="@_post.Title">@_post.Slug!.GetPostFullUrl()</a></p>
                    </MCardText>
                }
                else
                {
                    <p class="pa-3">本文来自转载，本文观点不代表本站(Dotnet9工具箱)立场，转载请联系原作者：</p>
                    <MCardText Class="white text--primary pb-3">
                        <p>原文出处：<a href="@_post.OriginalLink" alt="@_post.Title">@_post.Original</a></p>
                        <p>原文链接：<a href="@_post.OriginalLink" alt="@_post.Title">@_post.OriginalLink</a></p>
                    </MCardText>
                }
            </MCard>
        </MCol>
    </MRow>
    <MRow>
        <MCol>
            <div class="text-center">
                <MButton Class="ma-2"
                         Text
                         Icon
                         Color="blue lighten-2">
                    <MIcon>mdi-thumb-up</MIcon>
                </MButton>

                <MButton Class="ma-2"
                         Text
                         Icon
                         Color="red lighten-2">
                    <MIcon>mdi-thumb-down</MIcon>
                </MButton>
                <MRating @bind-Value="_rating" BackgroundColor="orange lighten-3" Color="orange" Large></MRating>
            </div>
        </MCol>
    </MRow>
    <PageComment Url="ddd"></PageComment>
}

@code {

    [Parameter]
    public string? Slug { get; set; }

    private BlogPost? _post;

    private double _rating = 4;

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(Slug))
        {
            return;
        }
        _post = ConstData.BlogPostItems.FirstOrDefault(x => x.Slug == Slug);
        await Task.CompletedTask;
    }

}

<style>
    .entry-title { text-align: left; }

    .entry-info { font-size: 14px; }

    .entry-info a { text-decoration: none; }

    .dot {
        color: #ccc;
        margin-left: 3px;
        margin-right: 3px;
    }
</style>