@using Dotnet9.Application.Contracts.Blogs
@model Dotnet9.Web.ViewModels.Blogs.WordBlogPostsViewModel


<div class="tuijian-news box whitebg tab-num01">
    <div class="gd-box">
        <ul id="tab">
            @if (Model.Items != null)
            {
                var isSet = false;
                @foreach (var item in Model.Items)
                {
                    <li class="@(isSet == false ? "tab-current" : "")">@item.Key</li>
                    isSet = true;
                }
            }
        </ul>
    </div>
    <div id="tab-content">
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <section class="tab-box">
                    @if (item.Value.BlogPosts != null && item.Value.BlogPosts.Any())
                    {
                        var first = item.Value.BlogPosts.FirstOrDefault();
                        var count = item.Value.BlogPosts.Count;
                        List<BlogPostBriefDto>? sixBlogPosts = null;
                        if (count > 1)
                        {
                            var getCount = count - 1;
                            sixBlogPosts = item.Value.BlogPosts.GetRange(1, count > 7 ? 6 : getCount);
                        }
                        @if (first != null)
                        {
                            <div class="tuijian-news-pic">
                                <i>
                                    <a href="/@first.CreateDate?.ToString("yyyy/MM")/@first.Slug">
                                        <img src="@first.Cover"
                                             alt="@first.Title"><span>推荐</span>
                                    </a>
                                </i>
                                <h2>
                                    <a href="/@first.CreateDate?.ToString("yyyy/MM")/@first.Slug">@first.Title</a>
                                </h2>
                                <p>
                                    @first.BriefDescription
                                </p>
                                <a href="/cat/@item.Value.Slug" class="btn-blue-border">阅读更多</a>
                            </div>
                        }
                        if (sixBlogPosts != null && sixBlogPosts.Any())
                        {
                            <div class="tuijian-news-list">
                                <ul>
                                    @foreach (var blogPost in sixBlogPosts)
                                    {
                                        <li>
                                            <a target="_blank" href="/@blogPost.CreateDate?.ToString("yyyy/MM")/@blogPost.Slug">
                                                <span>
                                                    <b>@blogPost.CreateDate?.Day</b>@blogPost.CreateDate?.ToString("yyyy-MM")
                                                </span>
                                                <h3>@blogPost.Title</h3>
                                                <p>@blogPost.BriefDescription</p>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                    <span class="tab-a-more">
                        <a href="/cat/@item.Value.Slug" title="更多@(item.Key)">
                            <i></i><i></i><i></i>
                        </a>
                    </span>
                </section>
            }
        }
    </div>
</div>