@using Dotnet9.Application.Contracts.Blogs
@model Dotnet9.Web.ViewModels.Blogs.WordBlogPostsViewModel


<div class="wenzi whitebg box tab-num05">
    <div class="gd-box">
        <ul id="tab">
            @if (Model.Items != null)
            {
                var isSet = false;
                @foreach (var item in Model.Items)
                {
                    <li class="@(isSet == false ? "tab-current" : "")">@item.Key</li>
                    isSet = true;
                }
            }
        </ul>
    </div>
    <div id="tab-content">
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <section class="tab-box">
                    <div class="wenzi-list">
                        @if (item.Value.BlogPosts != null && item.Value.BlogPosts.Any())
                        {
                            var count = item.Value.BlogPosts.Count;
                            var leftBlogPosts = count > 8 ? item.Value.BlogPosts.GetRange(0, 8) : item.Value.BlogPosts;
                            List<BlogPostBriefDto>? rightBlogPosts = null;
                            if (count > 8)
                            {
                                rightBlogPosts = count > 16 ? item.Value.BlogPosts.GetRange(8, 8) : item.Value.BlogPosts.GetRange(8, count - 8);
                            }

                            <ul class="wenzi-left">
                                @if (leftBlogPosts.Any())
                                {
                                    @foreach (var blogPost in leftBlogPosts)
                                    {
                                        <li>
                                            <span>@blogPost.CreateDate?.ToString("yyyy-MM-dd")</span>
                                            <a href="/@blogPost.CreateDate?.ToString("yyyy/MM")/@blogPost.Slug" title="@blogPost.Title">@blogPost.Title</a>
                                        </li>
                                    }
                                }
                            </ul>
                            <ul class="wenzi-right">

                                @if (rightBlogPosts != null && rightBlogPosts.Any())
                                {
                                    @foreach (var blogPost in rightBlogPosts)
                                    {
                                        <li>
                                            <span>@blogPost.CreateDate?.ToString("yyyy-MM-dd")</span>
                                            <a href="/@blogPost.CreateDate?.ToString("yyyy/MM")/@blogPost.Slug" title="@blogPost.Title">@blogPost.Title</a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </div>
                    <span class="tab-a-more">
                        <a href="/cat/@item.Value.Slug" title="更多@(item.Key)">
                            <i></i><i></i><i></i>
                        </a>
                    </span>
                </section>
            }
        }
    </div>
</div>