@model Dotnet9.Application.Contracts.Categories.CategoryViewModel
@{
    ViewData["Title"] = "分类";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<article>

    <div class="pics-list-box whitebg">
        <div class="news-title">
            <span class="hnav">
                <h2>@Model.Name</h2>
            </span>
        </div>
        <ul>
            @if (Model.Items != null && Model.Items.Any())
            {
                @foreach (var item in Model.Items)
                {
                    <li>
                        <a href="/@item.CreateDate?.ToString("yyyy/MM")/@item.Slug">
                            <i>
                                <img src="@item.Cover" alt="@item.Title">
                            </i>
                            <h2>@item.Title</h2>
                            <p>@item.BriefDescription</p>
                        </a>
                    </li>
                }
            }
        </ul>
        <div class="pagelist"></div>
    </div>
</article>