@page "/archives"

@model Pages.Blogs.ArchivesModel
@{
    var title = "归档";
    var description = @"博客文章归档的作用主要有以下几点：
\r\n1. 方便读者查找：归档可以按照时间、分类、标签等方式对博客文章进行分类，方便读者查找自己感兴趣的文章。
\r\n2. 提高网站的可用性：归档可以让网站的结构更加清晰，提高网站的可用性和用户体验。
\r\n3. 优化SEO：归档可以让搜索引擎更好地理解网站的结构和内容，从而提高网站的排名和流量。
\r\n4. 方便管理：归档可以让博主更好地管理自己的文章，方便查找和修改。
\r\n5. 展示博客历程：归档可以展示博客的历程和发展，让读者更好地了解博主的成长和思考。";

    ViewData[ViewDataKeys.Title] = title;
    ViewData[ViewDataKeys.Keywords] = title;
    ViewData[ViewDataKeys.Description] = description;
}

@if (Model.BlogArchives?.Any() == true)
{
@section Headers{
    <link rel="stylesheet" href="/css/blogpost.css"/>
}

    <div id="nice">

        <h1>归档</h1>
        <p>@description</p>

        <ul>
            @foreach (var groupYear in Model.BlogArchives.GroupBy(x => x.CreationTime.ToString("yyyy年")).OrderByDescending(x => x.Key))
            {
                <li>
                    <h2>@groupYear.Key</h2>
                    <ul>
                        @foreach (var groupMonth in groupYear.GroupBy(x => x.CreationTime.ToString("yyyy年MM月")).OrderByDescending(x => x.Key))
                        {
                            <li>
                                <h3>@groupMonth.Key</h3>
                                <ol>
                                    @foreach (var blogPost in groupMonth.OrderByDescending(x => x.CreationTime))
                                    {
                                        <li>
                                            <h4 class="mt-0 mb-1 font-16">
                                                <a style="color: #262626;" href="/@blogPost.CreationTime.ToString("yyyy/MM")/@blogPost.Slug">@blogPost.Title</a>
                                            </h4>
                                            <p class="text-muted">
                                                ---<small>@blogPost.CreationTime.ToString("yyyy年MM月dd日 hh:mm:ss")</small>
                                            </p>
                                        </li>
                                    }
                                </ol>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>

    </div>
}