@page "/{Year}/{Month}/{Slug}"

@model Dotnet9.RazorPages.Pages.Blogs.DetailsModel
@{
    ViewData[ViewDataKeys.Title] = $"文章-{Model.Blog?.Title}";
    ViewData[ViewDataKeys.Keywords] = Model.Slug;
    ViewData[ViewDataKeys.Description] = Model.Blog?.Description;
}

@await Html.PartialAsync("_MarkdownHeader")

<h1 class="detail-title">@Model.Blog?.Title</h1>

<div class="con_info">
    @if (Model.Blog?.Banner == true)
    {
        <span class="con_tag">推荐</span>
    }
    @if (Model.Blog?.CopyrightType == CopyRightType.Default)
    {
        <span class="con_tag">原创</span>
    }
    else if (Model.Blog?.CopyrightType == CopyRightType.Reprint)
    {
        <span class="con_tougao">@Model.Blog?.CopyrightType.GetDescription()</span>
    }
    else
    {
        <span class="con_zhuanzai">@Model.Blog?.CopyrightType.GetDescription()</span>
    }

    <span>
        <i class="con_writer"></i>
        &nbsp; @(Model.Blog?.Original ?? Model.SiteInfo?.Owner)
    </span>

    @if (Model.Blog?.Albums != null && Model.Blog?.Albums.Any() == true)
    {
        <span class="con_class">
            专辑：
            @foreach (var album in Model.Blog!.Albums)
            {
                <span>|</span>
                <a href="/albums/@album.Slug">@album.Name</a>
            }
        </span>
    }

    @if (Model.Blog?.Categories != null && Model.Blog?.Categories.Any() == true)
    {
        <span class="con_class">
            分类：
            @foreach (var cat in Model.Blog!.Categories)
            {
                <span>|</span>

                <a href="/categories/@cat.Slug">@cat.Name</a>
            }
        </span>
    }

    @if (Model.Blog?.OriginalLink?.IsNullOrWhiteSpace() == false)
    {
        <span class="con_befrom">来源：<a href="@Model.Blog?.OriginalLink">@Model.Blog?.Original</a></span>
    }

    <time>@Model.Blog?.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</time>
    <span class="con_link">@Model.Blog?.ViewCount</span>
</div>

<div id="view-content" class="gap-solid"></div>

<div class="details-content">
    @Html.Raw(Model.BlogContentHtml)
</div>


@if (Model.Blog?.Tags != null && Model.Blog?.Tags.Any() == true)
{
    <div class="con_tags">

        @foreach (var tag in Model.Blog!.Tags)
        {
            <a href="/tags/@WebUtility.UrlEncode(tag.Name)" alt="@tag.Name">@tag.Name</a>
        }
    </div>
}

<div class="share" id="down">
    <img src="https://img1.dotnet9.com/site/wechatpublic.jpg" alt="">
    <div class="share-text">
        <p>扫码关注Dotnet9微信公众号，第一时间获取网站更新动态</p>
        @if (Model.Blog != null)
        {
            @switch (Model.Blog.CopyrightType)
            {
                case CopyRightType.Reprint:
                    <p>本文来自转载，如若二次转载请联系原作者。</p>
                    break;
                case CopyRightType.Contribution:
                    <p>本文来自网友投稿，如若转载请联系原作者。</p>
                    break;
                default:
                    <p>本文由本站(<a href="https://dotnet9.com">https://dotnet9.com</a>)整理或创作，如若转载请保留原文标题及原文链接</p>
                    break;
            }
            <p>原文作者：<a style="color: #262626;" href="#">@(Model.Blog.Original ?? @Model.SiteInfo?.Owner)</a></p>
            @if (Model.Blog.CopyrightType == CopyRightType.Default)
            {
                <p>原文标题：<a href="/@Model.Blog.CreationTime.ToString("yyyy/MM")/@Model.Blog.Slug">@Model.Blog.Title</a></p>
                <p>原文链接：<a href="/@Model.Blog.CreationTime.ToString("yyyy/MM")/@Model.Blog.Slug">https://dotnet9.com/@($"{Model.Blog.CreationTime:yyyy/MM}/{Model.Blog.Slug}")</a></p>
            }
            else
            {
                <p>原文标题：<a href="@Model.Blog.OriginalLink">@(Model.Blog.OriginalTitle ?? Model.Blog.Title)</a></p>
                <p>原文链接：<a href="@Model.Blog.OriginalLink">@Model.Blog.OriginalLink</a></p>
            }
        }
    </div>
</div>

@if (Model.Blog?.Preview != null && Model.Blog?.Next != null)
{
    <div class="info-pre-next">
        @if (Model.Blog?.Preview != null)
        {
            <p>上一篇：<a href="/@Model.Blog.Preview.CreationTime.ToString("yyyy/MM")/@Model.Blog.Preview.Slug">@Model.Blog.Preview.Title</a> </p>
        }
        @if (Model.Blog?.Next != null)
        {
            <p>下一篇：<a href="/@Model.Blog.Next.CreationTime.ToString("yyyy/MM")/@Model.Blog.Next.Slug">@Model.Blog.Next.Title</a> </p>
        }
    </div>
}
@if (Model.Blog?.Nears?.Any() == true)
{
    <div class="hot_news other_news">
        <div class="side_title">
            <h3>相关文章</h3>
        </div>
        <ul>
            @foreach (var blog in Model.Blog.Nears)
            {
                <li>
                    <a href="/@blog.CreationTime.ToString("yyyy/MM")/@blog.Slug"> @blog.Title </a>
                </li>
            }
        </ul>
    </div>
}

@await Html.PartialAsync("_MarkdownFooter")