@page "/admin/tag"
@using Dotnet9.Tags
@using Dotnet9.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inherits Dotnet9ComponentBase
@inject ITagAppService TagAppService
@inject AbpBlazorMessageLocalizerHelper<Dotnet9Resource> LH
<Card>
    <CardHeader>
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <h2>@L["Tags"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.Is5">
                <TextEdit Text="@Filter" TextChanged="@OnFilterChanged" Placeholder="@L["SearchText"]"></TextEdit>
            </Column>
            <Column ColumnSize="ColumnSize.Is1">
                <Paragraph TextAlignment="TextAlignment.End">
                    @if (CanCreateTag)
                    {
                        <Button Color="Color.Primary"
                                Clicked="OpenCreateTagModal">
                            @L["NewTag"]
                        </Button>
                    }
                </Paragraph>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="TagDto"
                  Data="TagList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn Width="150px"
                                TItem="TagDto"
                                Field="@nameof(TagDto.Id)"
                                Sortable="false"
                                Caption="@L["Actions"]">
                    <DisplayTemplate>
                        @if (CanEditTag)
                        {
                            <Button Color="Color.Secondary" Clicked="() => OpenEditTagModal(context)">
                                @L["Edit"]
                            </Button>
                        }
                        @if (CanDeleteTag)
                        {
                            <Button Color="Color.Danger" Clicked="() => DeleteTagAsync(context)">
                                @L["Delete"]
                            </Button>
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="TagDto"
                                Field="@nameof(TagDto.Name)"
                                Caption="@L["Name"]">
                </DataGridColumn>
                <DataGridColumn TItem="TagDto"
                                Field="@nameof(TagDto.Description)"
                                Caption="@L["Description"]">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="CreateTagModal">
    <ModalBackdrop/>
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewTag"]</ModalTitle>
                <CloseButton Clicked="CloseCreateTagModal"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@_createValidationsRef" Model="@NewTag" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@NewTag.Name">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <TextEdit @bind-Text="@NewTag.Description">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateTagModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateTagAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="EditTagModal">
    <ModalBackdrop/>
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingTag.Name</ModalTitle>
                <CloseButton Clicked="CloseEditTagModal"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@_editValidationsRef" Model="@EditingTag" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingTag.Name">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Description"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingTag.Description">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditTagModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateTagAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>