@using Dotnet9.Tools.Web.ViewModels.Comments
@using Dotnet9.Tools.Web.Models.Comments
@if (Items != null)
{
    for (var i = 0; i < Items.Count; i++)
    {
        var item = Items[i];
        <MRow>
            <MCol>
                <MCard Class="my-1 ml-3 pa-3">
                    <div>
                        <span># @(i + 1) &nbsp;&nbsp;&nbsp;</span>
                        <span>@item.UserName &nbsp;&nbsp;&nbsp;</span>
                        <span>@item.Timestamp.ConvertToDate().ToString("yyyy-MM-dd HH:mm:ss") &nbsp;&nbsp;&nbsp;</span>
                        <MButton Class="ma-2"
                                 Text
                                 Icon
                                 Color="blue lighten-2">
                            Reply
                        </MButton>

                        <MButton Class="ma-2"
                                 Text
                                 Icon
                                 Color="red lighten-2">
                            Quote
                        </MButton>
                    </div>

                    <div>
                        @if (item.ReplyKind == CommentReplyKind.Reply)
                        {
                            <span>
                                <MChip Class="mr-2">@item.Reply?.UserName</MChip>
                            </span>
                        }
                        <span>@item.Content</span>
                        <MButton Class="ma-2"
                                 Text
                                 Icon
                                 Color="blue lighten-2">
                            <MIcon>mdi-thumb-up</MIcon>
                        </MButton>

                        <MButton Class="ma-2"
                                 Text
                                 Icon
                                 Color="red lighten-2">
                            <MIcon>mdi-thumb-down</MIcon>
                        </MButton>
                    </div>

                    @if (item.ReplyKind == CommentReplyKind.Quote && item.Reply != null)
                    {
                        <MRow>
                            <MCard Class="my-4 ml-4 pa-3" Color="lightlue">
                                <p>
                                    <span>@item.Reply.UserName &nbsp;&nbsp;&nbsp;</span>
                                    <span>@item.Reply.Timestamp.ConvertToDate().ToString("yyyy-MM-dd HH:mm:ss")</span>
                                </p>
                                <MCardText Class="white text--primary">
                                    @item.Reply.Content
                                </MCardText>
                            </MCard>
                        </MRow>
                    }
                </MCard>
            </MCol>
        </MRow>
    }
}

@code {

    [Parameter]
    public List<CommentViewModel>? Items { get; set; }

}