<MRow>
    <MCol>
        <MButton Class="ma-1"
                 Depressed Color="primary"
                 OnClick="() => _showPost = !_showPost">
            如何开发的？
        </MButton>
        @if (!string.IsNullOrWhiteSpace(RemotePostUrl))
        {
            <MButton Class="ma-1"
                     Href="@RemotePostUrl"
                     Target="_blank"
                     Depressed Color="error">
                我要建议（吐槽）
            </MButton>
        }
        <MButton Dark Class="ma-1"
                 Color="black"
                 Href="@SourceCodeUrl"
                 Target="_blank">
            <MIcon Left>mdi-github</MIcon>
            我要浏览源码
        </MButton>
        @if (!_showPost)
        {
            <div class="text-center">
                <MRating @bind-Value="_rating" BackgroundColor="orange lighten-3" Color="orange" Large></MRating>
            </div>
        }
    </MCol>
</MRow>
@if (_showPost)
{
    <MRow>
        <MCol>
            <D9Markdown LocalPostFilePath="@LocalPostFilePath"/>
        </MCol>
    </MRow>

    <MRow>
        <MCol>
            <MButton Class="ma-1"
                     Depressed Color="primary"
                     OnClick="() => _showPost = !_showPost">
                如何开发的？
            </MButton>
            @if (!string.IsNullOrWhiteSpace(RemotePostUrl))
            {
                <MButton Class="ma-1"
                         Href="@RemotePostUrl"
                         Target="_blank"
                         Depressed Color="error">
                    我要建议（吐槽）
                </MButton>
            }
            <MButton Dark Class="ma-1"
                     Color="black"
                     Href="@SourceCodeUrl"
                     Target="_blank">
                <MIcon Left>mdi-github</MIcon>
                我要浏览源码
            </MButton>
            <div class="text-center">
                <MRating @bind-Value="_rating" BackgroundColor="orange lighten-3" Color="orange" Large></MRating>
            </div>
        </MCol>
    </MRow>
}

@code
{
    [Parameter]
    public string LocalPostFilePath { get; set; } = null!;

    [Parameter]
    public string? RemotePostUrl { get; set; } = null;

    [Parameter]
    public string SourceCodeUrl { get; set; } = null!;

    private bool _showPost;

    private double _rating = 4;
}