@using Dotnet9.Web.Utils
@model Dotnet9.Web.ViewModels.Blogs.BlogPostViewModel
@{
    ViewData["Title"] = Model.BlogPost.Title;
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section Headers {

    <!--重置浏览器样式-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <!--代码块主题-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism-coy.min.css">
    <!--工具栏插件-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/toolbar/prism-toolbar.min.css">
    <!--行号插件-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/line-numbers/prism-line-numbers.min.css">
    <!--图片等自适应-->
    <link rel="stylesheet" href="~/css/markdown.css">
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-aside-left">
                    @await Html.PartialAsync("/Views/Home/ContactSidebar.cshtml")
                    @await Component.InvokeAsync("LatestBlogPosts")
                </div>
                <div class="page-aside-right">

                    <h1>@Model.BlogPost.Title</h1>
                    <p>
                        <small class="text-muted"><a href="/user/@(Model.BlogPost.Original ?? "沙漠尽头的狼")">@(Model.BlogPost.Original ?? "沙漠尽头的狼")</a> - @Model.BlogPost.CreateDate?.ToString("yyyy-MM-dd HH:mm:ss")</small>
                    </p>

                    @Html.Raw(MarkdownHelper.Render(Model.BlogPost.Content))

                    <div class="row pt-5">
                        @if (Model.PreviewBlogPost != null)
                        {
                            <div class="col-lg-5 offset-lg-1">
                                <div>
                                    <div class="faq-question-q-box">上</div>
                                    <a class="mt-1 font-14" href="/@Model.PreviewBlogPost.CreateDate?.ToString("yyyy/MM")/@Model.PreviewBlogPost.Slug">
                                        <h4 class="faq-question" data-wow-delay=".1s">@Model.PreviewBlogPost.Title</h4>
                                    </a>
                                    <p class="faq-answer mb-4">@Model.PreviewBlogPost.BriefDescription</p>
                                </div>

                            </div>
                        }

                        @if (Model.NextBlogPost != null)
                        {
                            <div class="col-lg-5">
                                <div>
                                    <div class="faq-question-q-box">下</div>
                                    <a class="mt-1 font-14" href="/@Model.NextBlogPost.CreateDate?.ToString("yyyy/MM")/@Model.NextBlogPost.Slug">
                                        <h4 class="faq-question">@Model.NextBlogPost.Title</h4>
                                    </a>
                                    <p class="faq-answer mb-4">@Model.NextBlogPost.BriefDescription</p>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <!--prism核心js (用于渲染代码块)-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.min.js"></script>
    <!--显示代码块行号-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <!--工具栏(一些插件的前置依赖)-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <!--代码块显示语言名称-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/show-language/prism-show-language.min.js"></script>
    <!--复制代码-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <!--自动去cdn加载对应语言的代码高亮js-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/autoloader/prism-autoloader.min.js"></script>
}