@using System.Net
@model Dotnet9.Web.ViewModels.Blogs.QueryViewModel?
@{
    ViewData["Title"] = "搜索";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<article>

    <div class="pics-list-box whitebg">
        <div class="news-title">
            <span class="weizhi">联系请关注微信公众号：Dotnet9</span>
            <h2>@Model?.Query</h2>
        </div>
        @if (Model?.BlogPosts == null || !Model.BlogPosts.Any())
        {
            <p>没有您查找的结果</p>
        }
        else
        {
            <ul>
                @foreach (var item in Model.BlogPosts)
                {
                    <li>
                        <a href="/@item.CreateDate?.ToString("yyyy/MM")/@item.Slug">
                            <i>
                                <img src="@item.Cover" alt="@item.Title">
                            </i>
                            <h2>@item.Title</h2>
                            <p>@item.BriefDescription</p>
                        </a>
                    </li>
                }
            </ul>
        }
        <div class="pagelist">
            @if (Model?.PageCount > 0)
            {
                @for (var pageIndex = 0; pageIndex < Model.PageCount; pageIndex++)
                {
                    <a style="color: white; background-color: @(pageIndex == Model.PageIndex ? "#999" : "#ccc")" href="/q?keyboard=@(WebUtility.UrlEncode(Model.Query))&p=@pageIndex">@pageIndex</a>
                }
            }
        </div>
    </div>
</article>