@using ToolItem = Dotnetools.Share.Models.ToolItem

<PageTitle>@Title</PageTitle>

<MApp>
    <OpenOtherWebsite UrlSuffix="@OtherUrl" />

    @if (Items is not { Count: > 0 })
    {
        <div class="read_more">
            这里空空如也
        </div>
    }
    else
    {
        <div class="blog_list">
            <ul>
                @foreach (var toolItem in Items)
                {
                    <li>
                        <a href="@toolItem.Url" class="blog_more">
                            <h2>@toolItem.Name</h2>
                            <i>
                                <img src="@toolItem.Cover" alt="@toolItem.Name" title="@toolItem.Name"/>
                            </i>
                        </a>
                        <div class="info">
                            <span class="info_view">0</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</MApp>

@code
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? OtherUrl { get; set; }

    [Parameter]
    public List<ToolItem>? Items { get; set; }
}