@page "/tools"
@inject ISystemClientService SystemClientService

<PageTitle>在线工具</PageTitle>

<MApp>
    <OpenOtherWebsite UrlSuffix="/tools"/>

    @if (GlobalData.ToolItems is not {Count: > 0 })
    {
        <div class="read_more">
            这里空空如也
        </div>
    }
    else
    {
        <div class="blog_list">
            <ul>
                @foreach (var toolItem in GlobalData.ToolItems)
                {
                    <li>
                        <a href="@toolItem.Url" class="blog_more">
                            <h2>@toolItem.Name</h2>
                            <i>
                                <img src="@toolItem.Cover" alt="@toolItem.Name" title="@toolItem.Name"/>
                            </i>
                        </a>
                        <div class="info">
                            <span class="info_view">0</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</MApp>

@code
{
    protected override async Task OnInitializedAsync()
    {
        var siteInfo = await SystemClientService.GetSiteInfoAsync();
    }
}