@page "/albums"

@model IndexModel
@{
    var title = "专辑";
    var description = "专辑是将一系列相关主题的文章进行分类整理，形成一个专辑。";
    ViewData[ViewDataKeys.Title] = title;
    ViewData[ViewDataKeys.Keywords] = description;
    ViewData[ViewDataKeys.Description] = description;
}

<h1 class="detail-title">@title</h1>

<p>@description</p>

<div id="view-content" class="gap-solid"></div>

@if (Model.AlbumList?.Any() != true)
{
    <div class="read_more">
        这里空空如也
    </div>
}
else
{
    <div class="blog_list">
        <ul>
            @foreach (var album in Model.AlbumList)
            {
                <li>
                    <a href="albums/@album.Slug" class="blog_more">
                        <h2>@album.Name (共 @album.BlogCount 篇)</h2>
                        <p>@album.Description</p>
                    </a>
                </li>
            }
        </ul>
    </div>
}