@page "/"
@layout PublicLayout

<PageTitle>@T(nameof(LanguageKeys.Dotnet9ToolsTitle))</PageTitle>

<div class="home">
    <MRow Class="banner" NoGutters Align="AlignTypes.Center" Justify="JustifyTypes.Center">
        <MCol Align="@AlignTypes.Center" Lg="6" Md="6" Sm="12">
            <div class="banner-logo-box">
                <p class="banner-logo-font">
                    @T(nameof(LanguageKeys.Dotnet9ToolsTitle))
                </p>
            </div>
            <div class="banner-detail-box">
                <p class="banner-detail-font">
                    @T(nameof(LanguageKeys.Dotnet9ToolsDescription))
                </p>
            </div>
            <MRow NoGutters Style="margin-top: 88px;" Justify="JustifyTypes.Start">
                <MButton Dark
                         Color="#5C2D91"
                         Height="64"
                         Class="text-20 mb-6 px-6"
                         Href="/tools">
                    @T(nameof(LanguageKeys.GetStarted))
                </MButton>
                <MButton Dark
                         Outlined
                         Color="black"
                         Height="64"
                         Class="text-20 px-6 mb-6 mx-6"
                         Href="/">
                    @T(nameof(LanguageKeys.Blog))
                </MButton>
                <MButton Dark
                         Color="black"
                         Height="64"
                         Href="https://github.com/dotnet9/dotnet9.com"
                         Target="_blank"
                         Class="text-20 px-6 mb-6">
                    <MIcon Left>mdi-github</MIcon>
                    GitHub
                </MButton>
            </MRow>
        </MCol>
    </MRow>
</div>