@page "/tools"
@layout PublicLayout

<<<<<<< HEAD
<PageTitle>@T(nameof(LanguageKeys.Dotnet9ToolsTitle))</PageTitle>
=======
<PageTitle>Dotnet9工具箱</PageTitle>
>>>>>>> parent of b1dd94d (Add ICO converter translation;)

<MCard Class="m-2 p-2">

    <MRow>
        @foreach (var tool in _tools)
        {
            <MCol key="@tool.Title" Cols=@tool.Flex>
                <MCard>
                    <MImage Src="@tool.Src" Class="white--text align-end" Gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" Height=100>
                        <MCardTitle>@tool.Title</MCardTitle>
                    </MImage>

                    <MCardActions>
                        <span class="tool-desc">@tool.Description</span>
                        <MSpacer></MSpacer>
<<<<<<< HEAD
                        <a href="/ico">@T(nameof(LanguageKeys.ToolsGo))</a>
=======
                        <a href="/ico">进入</a>
>>>>>>> parent of b1dd94d (Add ICO converter translation;)
                    </MCardActions>
                </MCard>
            </MCol>
        }
    </MRow>

</MCard>

@code {

    readonly List<ToolInfo> _tools = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _tools.Add(
            new ToolInfo
            {
<<<<<<< HEAD
                Title = T(nameof(LanguageKeys.IcoToolTitle)),
                Description = T(nameof(LanguageKeys.IcoToolDesc)),
=======
                Title = "Ico图标转换",
                Description = "jpg、png等一键转换ico",
>>>>>>> parent of b1dd94d (Add ICO converter translation;)
                Src = "https://cdn.masastack.com/stack/images/website/masa-blazor/cards/house.jpg",
                Flex = 3
            });
    }

    class ToolInfo
    {
        public string? Title { get; init; }
        public string? Description { get; init; }
        public string? Src { get; init; }
        public int Flex { get; init; }
    }

}

<style>
    .tool-desc {
        color: #999;
        font-size: 11px;
    }
</style>