@page "/tools"
@using BlazorComponent.I18n
@layout PublicLayout
@inject I18n I18N

<PageTitle>@T("Dotnet9ToolsTitle")</PageTitle>

<MCard>

    <MRow>
        @foreach (var tool in _tools)
        {
            <MCol key="@tool.Title" Class="col-xl-3 col-lg-4 col-sm-6 col-12 text-truncate">
                <MCard>
                    <MImage Src="@tool.Cover" Class="white--text align-end" Gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" Height=150>
                        <MCardTitle>@tool.Title</MCardTitle>
                    </MImage>

                    <MCardActions>
                        <span class="tool-desc">@tool.Description</span>
                        <MSpacer></MSpacer>
                        <a href="@tool.Src">@T("ToolsGo")</a>
                    </MCardActions>
                </MCard>
            </MCol>
        }
    </MRow>

</MCard>

@code {

    readonly List<ToolInfo> _tools = new();


    public string? T(string key)
    {
        return I18N.LanguageMap.GetValueOrDefault(key);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _tools.Add(new ToolInfo(T("IcoToolTitle"), T("IcoToolDesc"), "https://img1.dotnet9.com/2022/02/cover_13.jpg", "/ico"));
        _tools.Add(new ToolInfo(T("TimestampToolTitle"), T("TimestampToolDesc"), "https://img1.dotnet9.com/2022/02/cover_17.jpeg", "/timestamp"));
    }

    class ToolInfo
    {
        public ToolInfo(string? title, string? desc, string? cover, string? src)
        {
            Title = title;
            Description = desc;
            Cover = cover;
            Src = src;
        }

        public string? Title { get; }
        public string? Description { get; }
        public string? Cover { get; }
        public string? Src { get; }
    }

}

<style>
    .tool-desc {
        color: #999;
        font-size: 11px;
    }
</style>