@page "/tools"
@using BlazorComponent.I18n
@layout PublicLayout
@inject I18n I18N

<PageTitle>@T("Dotnet9ToolsTitle")</PageTitle>

<MCard>

    <MRow>
        @foreach (var tool in _tools)
        {
            <MCol key="@tool.Title" Cols=@tool.Flex>
                <MCard>
                    <MImage Src="@tool.Src" Class="white--text align-end" Gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" Height=150>
                        <MCardTitle>@tool.Title</MCardTitle>
                    </MImage>

                    <MCardActions>
                        <span class="tool-desc">@tool.Description</span>
                        <MSpacer></MSpacer>
                        <a href="/ico">@T("ToolsGo")</a>
                    </MCardActions>
                </MCard>
            </MCol>
        }
    </MRow>

</MCard>

@code {

    readonly List<ToolInfo> _tools = new();


    public string? T(string key)
    {
        return I18N.LanguageMap.GetValueOrDefault(key);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _tools.Add(
            new ToolInfo
            {
                Title = T("IcoToolTitle"),
                Description = T("IcoToolDesc"),
                Src = "https://img1.dotnet9.com/2022/02/cover_13.jpg",
                Flex = 3
            });
    }

    class ToolInfo
    {
        public string? Title { get; init; }
        public string? Description { get; init; }
        public string? Src { get; init; }
        public int Flex { get; init; }
    }

}

<style>
    .tool-desc {
        color: #999;
        font-size: 11px;
    }
</style>