@page "/{Slug}"

@using JetBrains.Annotations
@using Dotnet9.Blogs
@inject NavigationManager _navigationManager
@inject IBlogPostAppService _blogPostAppService

<PageTitle>@_blogPostDto?.Title</PageTitle>
<HeadContent>@_blogPostDto?.ShortDescription</HeadContent>

<Row>
    <Column ColumnSize="ColumnSize.Is2.OnDesktop">
        <CategorySidebar/>
    </Column>
    <Column ColumnSize="ColumnSize.Is8.OnDesktop.Is12.OnMobile">
        <MCard Class="p-4 pt-0">
            <h3 class="text-center" style="padding-top: 8px;">@_blogPostDto?.Title</h3>
            <p class="bloginfo">
                <Icon Name="IconName.User"/>
                @if (_blogPostDto == null || _blogPostDto.Original.IsNullOrWhiteSpace())
                {
                    <span>沙漠尽头的狼</span>
                }
                else
                {
                    <span>@_blogPostDto.Original</span>
                }
                <Icon Name="IconName.Clock"/>
                <small style="opacity: .65;">@_blogPostDto?.CreationTime.ToLocalTime()</small>
                <span>
                    【
                    <a href="/">最热</a>
                    】
                </span>
                <MChipGroup ActiveClass="primary--text"
                            Column>
                    @foreach (var tag in _tags)
                    {
                        <MChip>
                            @tag
                        </MChip>
                    }
                </MChipGroup>
            </p>
            <div id="dotnet9">
                @(new MarkupString(_markdownHtml))
            </div>
        </MCard>
        <MCard Class="mt-2 mb-2 p-4">
            @switch (_blogPostDto?.CopyrightType)
            {
                case CopyrightType.Contribution:
                {
                    <p>本文来自投稿：</p>
                    <p>
                        本文观点不代表
                        <u>
                            <a href='https://dotnet9.com' target='_blank'>Dotnet9</a>
                        </u> 立场，如若转载，请注明出处：
                        <u>
                            <a href='https://dotnet9.com/@_blogPostDto?.Slug' target='_blank'>https://dotnet9.com/@_blogPostDto?.Slug</a>
                        </u>
                    </p>
                }
                    break;
                case CopyrightType.Reprint:
                {
                    <p>本文来自转载：</p>
                    <p>
                        原文出处：
                        <u>
                            <a href='@_blogPostDto.Original' target='_blank'>@_blogPostDto.Original</a>
                        </u>
                    </p>
                    <p>
                        原文标题：
                        <u>
                            <a href='@_blogPostDto.Title' target='_blank'>@_blogPostDto.Title</a>
                        </u>
                    </p>
                    <p>
                        原文链接：
                        <u>
                            <a href='@_blogPostDto.OriginalLink' target='_blank'>@_blogPostDto.OriginalLink</a>
                        </u>
                    </p>
                    <p>
                        本文观点不代表
                        <u>
                            <a href='https://dotnet9.com' target='_blank'>Dotnet9</a>
                        </u> 立场，转载请联系原作者【
                        <u>
                            <a href='@_blogPostDto.OriginalLink' target='_blank'>@_blogPostDto.OriginalLink</a>
                        </u>】，如有侵权请联系站长删除。
                    </p>
                }
                    break;
                default:
                {
                    <p>
                        除非注明，文章均由
                        <u>
                            <a href='https://dotnet9.com' target='_blank'>Dotnet9</a>
                        </u> 整理发布，欢迎转载。
                    </p>
                    <p>转载请注明：</p>
                    <p>原文作者：沙漠尽头的狼</p>
                    <p>原文标题：@_blogPostDto?.Title</p>
                    <p>
                        原文链接：
                        <span>
                            <u>
                                <a href='https://dotnet9.com/@_blogPostDto?.Slug' target='_blank'>https://dotnet9.com/@_blogPostDto?.Slug</a>
                            </u>
                        </span>
                    </p>
                    <p>来源：<a href="https://dotnet9.com" target='_blank'>https://dotnet9.com</a></p>
                    <p>著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。</p>
                }
                    break;
            }
        </MCard>
        <MCard>
            <MButton Icon>
                <MIcon>mdi-eye</MIcon>
            </MButton>
            <span class="subheading mr-2">63</span>
            <span class="mr-1">·</span>
            <MButton Icon>
                <MIcon>mdi-heart</MIcon>
            </MButton>
            <span class="subheading mr-2">6</span>
            <span class="mr-1">·</span>
            <MButton Icon>
                <MIcon>mdi-bookmark</MIcon>
            </MButton>
            <span class="subheading mr-2">13</span>
            <span class="mr-1">·</span>
            <MButton Icon>
                <MIcon>mdi-share-variant</MIcon>
            </MButton>
            <span class="subheading">9</span>
            <Spacer></Spacer>
            <MButton Class="ma-2"
                     Text
                     Icon
                     Color="blue lighten-2">
                <MIcon>mdi-thumb-up</MIcon>
            </MButton>
            <span class="subheading">9</span>
            <span class="mr-1">·</span>
            <MButton Class="ma-2"
                     Text
                     Icon
                     Color="red lighten-2">
                <MIcon>mdi-thumb-down</MIcon>
            </MButton>
            <span class="subheading mr-2">13</span>
        </MCard>
    </Column>
    <Column ColumnSize="ColumnSize.Is2.OnDesktop">
        <HomeRightSidebar/>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Footer/>
    </Column>
</Row>

@code {

    [Parameter]
    [CanBeNull]
    public string Slug { get; set; }

    [CanBeNull] private BlogPostDto _blogPostDto;

    private string[] _tags = new string[]
    {
        "Blazor",
        "ASP.NET Core",
        "WPF",
        "MAUI"
    };

    private string _markdownHtml;

    protected override async Task OnInitializedAsync()
    {
        if (Slug == null)
        {
            _navigationManager.NavigateTo("/");
        }
        else
        {
            _blogPostDto = await _blogPostAppService.GetAsync(Slug);
            _markdownHtml = Markdig.Markdown.ToHtml(_blogPostDto?.Content ?? string.Empty);
        }
    }

}

<style>
    .bloginfo {
        margin-top: 20px;
        overflow: hidden;
        color: #999;
        line-height: 34px;
    }

    .bloginfo span { margin: 0 5px; }

    .bloginfo span a { color: #096; }


    /* 全局属性
 * 页边距 padding: 30px;
 * 全文字体 font-family: ptima-Regular;
 * 英文换行 word-break: break-all;
 */

    #dotnet9 { }

    /* 段落，下方未标注标签参数均同此处
 * 上边距 margin-top: 5px;
 * 下边距 margin-bottom: 5px;
 * 行高 line-height: 26px;
 * 词间距 word-spacing: 3px;
 * 字间距 letter-spacing: 3px;
 * 对齐 text-align: left;
 * 颜色 color: #3e3e3e;
 * 字体大小 font-size: 16px;
 * 首行缩进 text-indent: 2em;
 */

    #dotnet9 p { }

    /* 一级标题 */

    #dotnet9 h1 { }

    /* 一级标题内容 */

    #dotnet9 h1 .content { }

    /* 一级标题修饰 请参考有实例的主题 */

    #dotnet9 h1:after { }

    /* 二级标题 */

    #dotnet9 h2 {
        border-bottom: 2px solid rgb(239, 112, 96);
        font-size: 1.3em;
    }

    /* 二级标题内容 */

    #dotnet9 h2 .content {
        display: inline-block;
        font-weight: bold;
        background: rgb(239, 112, 96);
        color: #ffffff;
        padding: 3px 10px 1px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        margin-right: 3px;
    }

    /* 二级标题修饰 请参考有实例的主题 */

    #dotnet9 h2:after {
        display: inline-block;
        content: " ";
        vertical-align: bottom;
        border-bottom: 36px solid #efebe9;
        border-right: 20px solid transparent;
    }

    /* 三级标题 */

    #dotnet9 h3 { }

    /* 三级标题内容 */

    #dotnet9 h3 .content { }

    /* 三级标题修饰 请参考有实例的主题 */

    #dotnet9 h3:after { }

    /* 无序列表整体样式
 * list-style-type: square|circle|disc;
 */

    #dotnet9 ul { }

    /* 有序列表整体样式
 * list-style-type: upper-roman|lower-greek|lower-alpha;
 */

    #dotnet9 ol { }

    /* 列表内容，不要设置li
 */

    #dotnet9 li section { }

    /* 引用
 * 左边缘颜色 border-left-color: black;
 * 背景色 background: gray;
 */

    #dotnet9 .multiquote-1 {
        border-left-color: rgb(239, 112, 96);
        background: #fff9f9;
    }

    /* 引用文字 */

    #dotnet9 .multiquote-1 p { }

    /* 链接 
 * border-bottom: 1px solid #009688;
 */

    #dotnet9 a {
        color: rgb(239, 112, 96);
        border-bottom: 1px solid rgb(239, 112, 96);
    }

    /* 加粗 */

    #dotnet9 strong { }

    /* 斜体 */

    #dotnet9 em { }

    /* 加粗斜体 */

    #dotnet9 em strong { }

    /* 删除线 */

    #dotnet9 del { }

    /* 分隔线
 * 粗细、样式和颜色
 * border-top: 1px solid #3e3e3e;
 */

    #dotnet9 hr { }

    /* 图片
 * 宽度 width: 80%;
 * 居中 margin: 0 auto;
 * 居左 margin: 0 0;
 */

    #dotnet9 img { }

    /* 图片描述文字 */

    #dotnet9 figcaption { }

    /* 行内代码 */

    #dotnet9 p code, #dotnet9 li code { color: rgb(239, 112, 96); }

    /* 非微信代码块
 * 代码块不换行 display: -webkit-box !important;
 * 代码块换行 display: block;
 */

    #dotnet9 pre code { }

    /*
 * 表格内的单元格
 * 字体大小 font-size: 16px;
 * 边框 border: 1px solid #ccc;
 * 内边距 padding: 5px 10px;
 */

    #dotnet9 table tr th,
    #dotnet9 table tr td { }

    /* 脚注文字 */

    #dotnet9 .footnote-word { color: #ff3502; }

    /* 脚注上标 */

    #dotnet9 .footnote-ref { color: rgb(239, 112, 96); }

    /* "参考资料"四个字 
 * 内容 content: "参考资料";
 */

    #dotnet9 .footnotes-sep:before { }

    /* 参考资料编号 */

    #dotnet9 .footnote-num { }

    /* 参考资料文字 */

    #dotnet9 .footnote-item p { }

    /* 参考资料解释 */

    #dotnet9 .footnote-item p em { }

    /* 行间公式
 * 最大宽度 max-width: 300% !important;
 */

    #dotnet9 .block-equation svg { }
    

    #dotnet9 .inline-equation svg { }

    h3 {
        border-bottom: 1px solid #eee;
        margin-top: 50px;
        padding-bottom: 10px;
    }

    pre {
        background: #1E1E1E;
        color: #eee;
        overflow-x: auto;
        padding: 0.5em !important;
        white-space: pre;
        word-break: normal;
        word-wrap: normal;
    }

    img, video, source { max-width: 100% }

    pre > code { white-space: pre; }
</style>