@using Dotnet9.Categories
@inherits OwningComponentBase

<Card>
    <CardHeader>Category</CardHeader>
    <CardBody>
        <TreeView Nodes="_items"
                  GetChildNodes="@(item => item.Children)"
                  HasChildNodes="@(item => item.Children?.Any() == true)"
                  @bind-SelectedNode="@SelectedItem"
                  @bind-ExpandedNodes="_expandedNodes">
            <NodeContent>
                @context.Text<span>(</span>@context.Count<span>)</span>
            </NodeContent>
        </TreeView>
    </CardBody>
</Card>