@model AlbumViewModel
@{
    ViewData["Title"] = "专辑";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<article>

    <div class="pics-list-box whitebg">

        <div class="news-title">
            <span class="weizhi">联系请关注微信公众号：Dotnet9</span>
            <h2>@Model.Name</h2>
        </div>
        <ul>
            @if (Model.Albums != null && Model.Albums.Any())
            {
                @foreach (var item in Model.Albums)
                {
                    <li>
                        <a href="/album/@item.Slug">
                            <i>
                                <img src="@item.Cover" alt="@item.Name">
                            </i>
                            <h2>@item.Name</h2>
                        </a>
                    </li>
                }
            }
            @if (Model.BlogPosts != null && Model.BlogPosts.Any())
            {
                @foreach (var item in Model.BlogPosts)
                {
                    <li>
                        <a href="/@item.CreateDate?.ToString("yyyy/MM")/@item.Slug">
                            <i>
                                <img src="@item.Cover" alt="@item.Title">
                            </i>
                            <h2>@item.Title</h2>
                            <p>@item.BriefDescription</p>
                        </a>
                    </li>
                }
            }
        </ul>
        <div class="pagelist"></div>
    </div>
</article>