@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode
@inject ISystemClientService SystemClientService
@inject BlogService BlogService

@{
    var siteInfo = await SystemClientService.GetSiteInfoAsync();
    var recommendBlogs = await BlogService.GetRecommendAsync();
    var weekHotBlog = await BlogService.GetWeekHotAsync();
    var historyHotBlog = await BlogService.GetHistoryHotAsync();
}

<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>@ViewData[ViewDataKeys.Title]-@siteInfo!.AppName</title>
    <meta name="keywords" content="@ViewData[ViewDataKeys.Keywords]"/>
    <meta name="description" content="@ViewData[ViewDataKeys.Description]"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/m.css" rel="stylesheet">
    <link href="/css/swiper.min.css" rel="stylesheet">
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/js/comm.js"></script>
    <!-- Swiper JS -->
    <script src="/js/swiper.min.js"></script>
    <link href="Dotnet9.RazorPages.styles.css" rel="stylesheet"/>
    <base href="~/" />
    <link href="_content/Masa.Blazor/css/masa-blazor.min.css" rel="stylesheet" />
    <link href="https://cdn.masastack.com/npm/@("@mdi")/font@7.1.96/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorComponent/js/blazor-component.js"></script>
    <component type="typeof(HeadOutlet)" 
               render-mode="ServerPrerendered" />
    @await RenderSectionAsync("Headers", false)
</head>
<body class="background">

<component type="typeof(HeaderPartial)" render-mode="ServerPrerendered"/>

<article>
    @await Html.PartialAsync("_LeftNavigation")
    <div class="box_l">
        @RenderBody()
    </div>
    <div class="box_r">
        @await Html.PartialAsync("_TopKeywordsSidebar")
        @if (recommendBlogs?.Any() == true)
        {
            @await Html.PartialAsync("_BlogsSidebar", new BlogsSidebarModel("站长推荐", recommendBlogs))
        }
        @if (weekHotBlog?.Any() == true)
        {
            @await Html.PartialAsync("_BlogsSidebar", new BlogsSidebarModel("本周排行", weekHotBlog))
        }
        @if (historyHotBlog?.Any() == true)
        {
            @await Html.PartialAsync("_BlogsSidebar", new BlogsSidebarModel("历史排行", historyHotBlog))
        }
    </div>
</article>

<component type="typeof(FooterPartial)" render-mode="ServerPrerendered"/>


@await RenderSectionAsync("Scripts", required: false)
<environment names="Production">
    <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b1c5c62f256893710ae912468261bf6b";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8748951917303002"
            crossorigin="anonymous"></script>
</environment>
</body>
</html>