@model PaginationModel

@inject ISystemClientService SystemClientService

@{
    var siteInfo = await SystemClientService.GetSiteInfoAsync();
    var showFirst = Model.PageCount > 1;
    var showPrev = Model.Current > 1;
    var prevPageIndex = Model.Current - 1;
    var showNext = Model.Current != Model.PageCount;
    var nextPageIndex = Model.Current + 1;
    var showLast = showFirst;
    var pages = PagerHelper.CalcPages(Model.PageCount, 10, Model.Current);
}

@if (Model.Blogs == null || Model.Blogs.Count <= 0)
{
    <div class="read_more">
        这里空空如也
    </div>
}
else
{
    <div class="blog_list">
        <ul>
            @foreach (var blog in Model.Blogs)
            {
                <li>
                    <a href="@blog.CreationTime.ToString("/yyyy/MM")/@blog.Slug" class="blog_more">
                        <h2>@blog.Title</h2>
                        <div class="ps">
                            @if (blog.Banner)
                            {
                                <span class="ps_tj">推荐</span>
                            }
                            @if (blog.CopyrightType == (int)CopyRightType.Default)
                            {
                                <span class="ps_yc">原创</span>
                            }
                            else if (blog.CopyrightType == (int)CopyRightType.Reprint)
                            {
                                <span class="ps_tougao">@(((CopyRightType)blog.CopyrightType).GetDescription())</span>
                            }
                            else
                            {
                                <span class="ps_zhuanzai">@(((CopyRightType)blog.CopyrightType).GetDescription())</span>
                            }
                        </div>
                        <i><img src="@blog.Cover" alt="@blog.Title" title="@blog.Title"/></i>
                        <p title="@blog.Description">@blog.Description</p>
                    </a>
                    <div class="info">
                        <span class="info_user">
                            @(blog?.Original ?? siteInfo?.Owner)
                        </span>
                        <span class="info_class">
                            @if (blog!.Categories?.Any() == true || blog.Albums?.Any() == true || blog.Tags?.Any() == true)
                            {
                                @if (blog.Albums?.Any() == true)
                                {
                                    @foreach (var album in blog.Albums)
                                    {
                                        <a href="/albums/@album.Slug">@album.Name</a>
                                    }
                                }
                                @if (blog.Categories?.Any() == true)
                                {
                                    @foreach (var category in blog.Categories)
                                    {
                                        <a href="/categories/@category.Slug">@category.Name</a>
                                    }
                                }
                                @if (blog.Tags?.Any() == true)
                                {
                                    @foreach (var tag in blog.Tags)
                                    {
                                        <a href="/tags/@tag.Name">@tag.Name</a>
                                    }
                                }
                            }

                        </span><span class="info_time">@blog.CreationTime.ToString("yyyy-MM-dd HH:mm")</span><span class="info_view">@blog.ViewCount</span>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div>
        @if (Model.Total > Model.PageSize)
        {
            <ul class="pagination">
                @if (showFirst)
                {
                    <li class="pagination-btn">
                        <a href="@(Model.UrlPrefix)current=1&pageSize=@Model.PageSize">◀</a>
                    </li>
                }
                @if (showPrev)
                {
                    <li class="pagination-btn">
                        <a href="@(Model.UrlPrefix)current=@prevPageIndex&pageSize=@Model.PageSize">◁</a>
                    </li>
                }
                @if (pages.Any() == true)
                {
                    @foreach (var pageIndex in pages)
                    {
                        <li class="pagination-btn" active="@(pageIndex == Model.Current)"
                            value="@pageIndex">
                            <a href="@(Model.UrlPrefix)current=@pageIndex&pageSize=@Model.PageSize">@pageIndex</a>
                        </li>
                    }
                }

                @if (showNext)
                {
                    <li class="pagination-btn">
                        <a href="@(Model.UrlPrefix)current=@nextPageIndex&pageSize=@Model.PageSize">▷</a>
                    </li>
                }

                @if (showLast)
                {
                    <li class="pagination-btn">
                        <a href="@(Model.UrlPrefix)current=@Model.PageCount&pageSize=@Model.PageSize">▶</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <ul class="pagination">
                <li class="pagination-total">共 @Model.Total 条</li>
            </ul>
        }
    </div>
}