@model Dotnet9.Web.ViewModels.Blogs.WordBlogPostsViewModel


<div class="pics box whitebg tab-num02">
    <div class="gd-box">
        <ul id="tab">
            @if (Model.Items != null)
            {
                var isSet = false;
                @foreach (var item in Model.Items)
                {
                    <li class="@(isSet == false ? "tab-current" : "")">@item.Key</li>
                    isSet = true;
                }
            }
        </ul>
    </div>
    <div id="tab-content">
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <section class="tab-box">
                    <div class="pic-list-img">
                        <ul>
                            @if (item.Value.BlogPosts != null && item.Value.BlogPosts.Any())
                            {
                                var blogPosts = item.Value.BlogPosts.Count > 7 ? item.Value.BlogPosts.GetRange(0, 7) : item.Value.BlogPosts;
                                var isSet = false;
                                @foreach (var blogPost in blogPosts)
                                {
                                    <li>

                                        <a href="/@blogPost.CreateDate?.ToString("yyyy/MM")/@blogPost.Slug">
                                            <i>
                                                <img src="@blogPost.Cover"
                                                     alt="@blogPost.Title">
                                                @if (!isSet)
                                                {
                                                    <em>推荐</em>
                                                }
                                            </i>
                                            <span style="text-align: left;">@blogPost.Title</span>
                                        </a>

                                        <small style="text-align: left; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block;">
                                            <a style="display: inline;" href="#">@(blogPost.Original ?? "沙漠尽头的狼")</a> - @blogPost.CreateDate?.ToString("yyyy-MM-dd")
                                        </small>
                                    </li>
                                    isSet = true;
                                }
                            }
                        </ul>
                    </div>
                    <span class="tab-a-more">
                        <a href="/cat/@item.Value.Slug" title="更多@(item.Key)">
                            <i></i><i></i><i></i>
                        </a>
                    </span>
                </section>
            }
        }
    </div>
</div>