@model Dotnet9.Web.ViewModels.Blogs.WordBlogPostsViewModel


<div class="news box whitebg tab-num03">
    <div class="gd-box">
        <ul id="tab">
            @if (Model.Items != null)
            {
                var isSet = false;
                @foreach (var item in Model.Items)
                {
                    <li class="@(isSet == false ? "tab-current" : "")">@item.Key</li>
                    isSet = true;
                }
            }
        </ul>
    </div>
    <div id="tab-content">
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <section class="tab-box">
                    <div class="news-zuixin">
                        <ul>
                            @if (item.Value.BlogPosts != null && item.Value.BlogPosts.Any())
                            {
                                var blogPosts = item.Value.BlogPosts.Count > 9 ? item.Value.BlogPosts.GetRange(0, 9) : item.Value.BlogPosts;
                                @foreach (var blogPost in blogPosts)
                                {
                                    <li>
                                        <section>

                                            <a href="/@blogPost.CreateDate?.ToString("yyyy/MM")/@blogPost.Slug" class="news-zuixin-pic">
                                                <img
                                                    src="@blogPost.Cover">
                                            </a>
                                            <h2>
                                                <a href="/@blogPost.CreateDate?.ToString("yyyy/MM")/@blogPost.Slug">@blogPost.Title</a>
                                            </h2>
                                            <p>@blogPost.BriefDescription</p>

                                            <small style="text-align: left;">
                                                <a style="display: inline;" href="#">@(blogPost.Original ?? "沙漠尽头的狼")</a> - @blogPost.CreateDate?.ToString("yyyy-MM-dd")
                                            </small>
                                        </section>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <span class="tab-a-more">
                        <a href="/cat/@item.Value.Slug" title="更多@(item.Key)">
                            <i></i><i></i><i></i>
                        </a>
                    </span>
                </section>
            }
        }
    </div>
</div>