@page "/{Year}/{Month}/{Slug}"
@inject IOptionsSnapshot<SiteOptions> SiteOptions

@model IndexModel
@{
    ViewData["Title"] = Model.Current?.Title;
}

@section Headers{
    <link href="~/css/picswiper.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/blogpost.css"/>
    <link rel="stylesheet" href="~/css/prism.css"/>
}

<div class="left-box">
    <div class="whitebg">
        <div class="news-title">
            <span class="weizhi">联系请关注微信公众号：Dotnet9</span>
            <h2>文章</h2>
        </div>
        <div class="newstext-box">
            <div id="nice">
                <h1 class="news-title-h1">@Model.Current?.Title</h1>
            </div>
            @if (Model.Current?.Tags is { Count: > 0 })
            {
                <div class="keywords">
                    @foreach (var blogTag in Model.Current.Tags)
                    {
                        <a target="_blank" href="/tag/@blogTag">@blogTag</a>
                    }
                </div>
            }
            <div class="picview-other">
                <span class="po-from">@(Model.Current?.Original ?? @SiteOptions.Value.Owner)</span>
                <span class="po-date">@Model.Current?.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                @if (Model.Current?.Albums is { Count: > 0 })
                {
                    <label>- 专辑：</label>
                    @foreach (var blogAlbum in Model.Current.Albums)
                    {
                        <span class="po-classname">
                            <a target="_blank" href="/album/@blogAlbum.Slug">@blogAlbum.Name</a>
                        </span>
                    }
                }
                @if (Model.Current?.Categories is {Count:>0})
                {
                    <label>- 分类：</label>
                    @foreach (var blogCat in Model.Current.Categories)
                    {
                        <span class="po-classname">
                            <a target="_blank" href="/cat/@blogCat.Slug">@blogCat.Name</a>
                        </span>
                    }
                }
                <span class="po-view">@Model.Current?.ViewCount</span>
            </div>
            <div class="smalltext">
                <i></i>@Model.Current?.Description
            </div>
            @if (!Model.ContentHtml.IsNullOrWhiteSpace())
            {
                <div id="nice">@Html.Raw(Model.ContentHtml)</div>
            }
            <div class="diggit">
                <a href="JavaScript:makeRequest('https://www.yangqq.com/e/public/digg/?classid=3&amp;id=900&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');"> 很赞哦！ </a>(
                <b id="diggnum">
                    <script type="text/javascript" src="https://www.yangqq.com/e/public/ViewClick/?classid=3&amp;id=900&amp;down=5"></script>
                </b>)
            </div>
            <div class="clear"></div>
            <div class="share" id="down">
                <img src="@SiteOptions.Value.WechatPublic1" alt="">
                <div class="share-text">
                    <p>扫码关注@(SiteOptions.Value.WechatPublic1Name)微信公众号，第一时间获取网站更新动态</p>
                    @switch (Model.Current?.CopyrightType)
                    {
                        case CopyRightType.Reprint:
                            <p>本文来自转载，如若二次转载请联系原作者。</p>
                            break;
                        case CopyRightType.Contribution:
                            <p>本文来自网友投稿，如若转载请联系原作者。</p>
                            break;
                        default:
                            <p>本文由本站(<a href="@SiteOptions.Value.Domain">@SiteOptions.Value.Domain</a>)整理或创作，如若转载请保留原文标题及原文链接</p>
                            break;
                    }
                    <p>原文作者：<a style="color: #262626;" href="#">@(Model.Current?.Original ?? @SiteOptions.Value.Owner)</a></p>
                    @if (Model.Current?.CopyrightType == CopyRightType.Default)
                    {
                        <p>原文标题：<a href="/@Model.Current.CreationTime.ToString("yyyy/MM")/@Model.Current.Slug">@Model.Current.Title</a></p>
                        <p>原文链接：<a href="/@Model.Current.CreationTime.ToString("yyyy/MM")/@Model.Current.Slug">@SiteOptions.Value.Domain/@($"{Model.Current.CreationTime:yyyy/MM}/{Model.Current.Slug}")</a></p>
                    }
                    else
                    {
                        <p>原文标题：<a href="@Model.Current?.OriginalLink">@(Model.Current?.OriginalTitle ?? Model.Current?.Title)</a></p>
                        <p>原文链接：<a href="@Model.Current?.OriginalLink">@Model.Current?.OriginalLink</a></p>
                    }
                </div>
            </div>
            <div class="clear"></div>
            <div class="info-pre-next">
                <ul>
                    @if (Model.Current?.Preview != null)
                    {
                        <li>
                            <a href="/@Model.Current.Preview.CreationTime.ToString("yyyy/MM")/@Model.Current.Preview.Slug">
                                <i>
                                    <em>上一篇</em><img alt="@Model.Current.Preview.Title" src="@Model.Current.Preview.Cover">
                                </i>
                                <h2>@Model.Current.Preview.Title</h2>
                                <p>@Model.Current.Preview.Description</p>
                            </a>
                        </li>
                    }
                    @if (Model.Current?.Next != null)
                    {
                        <li>
                            <a href="/@Model.Current.Next.CreationTime.ToString("yyyy/MM")/@Model.Current.Next.Slug">
                                <i>
                                    <em>下一篇</em><img alt="@Model.Current.Next.Title" src="@Model.Current.Next.Cover">
                                </i>
                                <h2>@Model.Current.Next.Title</h2>
                                <p>@Model.Current.Next.Description</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="clear blank"></div>
    @if (Model.Current?.Nears is {Count:>0})
    {
        <div class="otherlink whitebg">
            <div class="news-title">
                <h2>相关文章</h2>
            </div>
            <ul>
                @foreach (var post in Model.Current.Nears.RandomItems(10))
                {
                    <li>
                        <a target="_blank" href="/@post.CreationTime.ToString("yyyy/MM")/@post.Slug">@post.Title</a>
                    </li>
                }
            </ul>
        </div>
    }
    <div class="pinglun-box whitebg">
        <div class="news-title">
            <h2>文章评论</h2>
        </div>
        <div class="pinglun">
            <div id="plpost">
                <p class="saying">
                    <span>
                        <a href="/">共有5条评论</a>
                    </span>来说两句吧...
                </p>
                <input name="username" type="text" class="pl-name" id="username" value="" size="16" placeholder="用户名">
                <input name="key" type="text" class="pl-yzm" size="16" placeholder="验证码">
                <textarea name="saytext" rows="6" id="saytext"></textarea>
                <input name="imageField" type="submit" value="提交">
            </div>
        </div>
    </div>
</div>
<aside class="side-section right-box">

    @await Html.PartialAsync("Sides/_TuiJianAndTopPartial")
    <div class="clear blank"></div>
    @await Html.PartialAsync("Sides/_TagCloudsPartial")
    <div class="clear blank"></div>
    @await Html.PartialAsync("Sides/_RandomListPartial")

</aside>

@section Scripts
{
    <script src="~/js/picswiper.min.js"></script>
    <script src="~/js/side-tab.js"></script>
    <script src="~/js/prism.js"></script>
}