@page "/{Year}/{Month}/{Slug}"
@inject IOptionsSnapshot<SiteOptions> SiteOptions

@model IndexModel
@{
    ViewData["Title"] = Model.BlogPost?.Title;
}

@section Headers{
    <link rel="stylesheet" href="~/css/detail.css"/>
    @if (SiteOptions.Value.Valine)
    {
        <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
    }
}

<div class="detail">
    <div class="detail-left">
        <h1 class="detail-title">@Model.BlogPost?.Title</h1>
        <div class="detail-action">
            <span>
                <i class="iconfont icon-yonghu"></i>
                &nbsp; @(Model.BlogPost?.Original ?? SiteOptions.Value.Owner)
            </span>
            @if (Model.BlogPost?.Categories != null && Model.BlogPost?.Categories.Any() == true)
            {
                <span>
                    <i class="iconfont icon-wenjianjia"></i>
                    @foreach (var cat in Model.BlogPost!.Categories)
                    {
                        <a href="/cat/@cat.Slug">@cat.Name</a>
                    }
                </span>
            }
            <span>
                <i class="iconfont icon-riqi"></i>
                &nbsp;@Model.BlogPost?.CreationTime.ToString("yyyy-MM-dd")
            </span>
            <span>
                <i class="iconfont icon-yanjing"></i>
                &nbsp;@Model.BlogPost?.ViewCount
            </span>
            <span class="detail-edit">
                <i class="iconfont icon-wenbenshuru"></i>
                <a href="/writing?slug=@Model.BlogPost?.Slug">编辑</a>
            </span>
            <span class="detail-edit detail-delete" slug="@Model.BlogPost?.Slug">
                <i class="iconfont icon-shanchu"></i>
                删除
            </span>
        </div>
        <div class="gap-solid"></div>
        <div id="view-content" class="detail-content">@Html.Raw(Model.ContentHtml)</div>
        <div class="share" id="down">
            <img src="https://img1.dotnet9.com/site/wechatpublic.jpg" alt="">
            <div class="share-text">
                <p>扫码关注Dotnet9微信公众号，第一时间获取网站更新动态</p>
                @if (Model.BlogPost != null)
                {
                    @switch (Model.BlogPost.CopyrightType)
                    {
                        case CopyRightType.Reprint:
                            <p>本文来自转载，如若二次转载请联系原作者。</p>
                            break;
                        case CopyRightType.Contribution:
                            <p>本文来自网友投稿，如若转载请联系原作者。</p>
                            break;
                        default:
                            <p>本文由本站(<a href="https://dotnet9.com">https://dotnet9.com</a>)整理或创作，如若转载请保留原文标题及原文链接</p>
                            break;
                    }
                    <p>原文作者：<a style="color: #262626;" href="#">@(Model.BlogPost.Original ?? @SiteOptions.Value.Owner)</a></p>
                    @if (Model.BlogPost.CopyrightType == CopyRightType.Default)
                    {
                        <p>原文标题：<a href="/@Model.BlogPost.CreationTime.ToString("yyyy/MM")/@Model.BlogPost.Slug">@Model.BlogPost.Title</a></p>
                        <p>原文链接：<a href="/@Model.BlogPost.CreationTime.ToString("yyyy/MM")/@Model.BlogPost.Slug">https://dotnet9.com/@($"{Model.BlogPost.CreationTime:yyyy/MM}/{Model.BlogPost.Slug}")</a></p>
                    }
                    else
                    {
                        <p>原文标题：<a href="@Model.BlogPost.OriginalLink">@(Model.BlogPost.OriginalTitle ?? Model.BlogPost.Title)</a></p>
                        <p>原文链接：<a href="@Model.BlogPost.OriginalLink">@Model.BlogPost.OriginalLink</a></p>
                    }
                }
            </div>
        </div>
        @if (SiteOptions.Value.Valine)
        {
            <div class="gap-solid vcomments-gap"></div>
            <div id="vcomments" class="vcomments"></div>
            <div class="vcomments-copyright">评论由Valine提供支持</div>
        }
    </div>
    <div class="detail-right">
        <div class="toc-card">
            <h1 class="toc-card-list">目录</h1>
            <div class="toc-box" id="toc-box"></div>
        </div>
    </div>
</div>

<div class="zoom-prev">
    <div class="zoom-container"></div>
</div>

@section Scripts{
    @if (SiteOptions.Value.Valine)
    {
        <script>
  new Valine({
    el: "#vcomments",
    appId: "@SiteOptions.Value.ValineConfig!.AppId",
    appKey: "@SiteOptions.Value.ValineConfig.AppKey",
    serverURLs: "@SiteOptions.Value.ValineConfig.ServerURL",
            placeholder: "@SiteOptions.Value.ValineConfig.Placeholder"
  });
</script>
    }
}