@page
@model Dotnet9.RazorPages.Pages.Tools.IndexModel

@{
    ViewData[ViewDataKeys.Title] = $"工具箱";
}

@if (Model.Items is not {Count: > 0 })
{
    <div class="read_more">
        这里空空如也
    </div>
}
else
{
    <div class="blog_list">
        <ul>
            @foreach (var toolItem in Model.Items)
            {
                <li>
                    <a href="@toolItem.Url" class="blog_more">
                        <h2>@toolItem.Name</h2>
                        <i>
                            <img src="@toolItem.Cover" alt="@toolItem.Name" title="@toolItem.Name"/>
                        </i>
                        <p title="@toolItem.Description">@toolItem.Description</p>
                    </a>
                    <div class="info">
                        <span class="info_view">@toolItem.ViewCount</span>
                    </div>
                </li>
            }
        </ul>
    </div>
}