@inject ICaller Caller
@{
    var albumBriefs = await Caller.GetAsync<List<AlbumBrief>>("/api/albums/brief");
    var categoryBriefs = await Caller.GetAsync<List<CategoryBrief>>("/api/categories/brief");
}
<nav>
    <div class="topnav">
        <ul id="starlist">
            <li>
                <a href="/">最新文章</a>
            </li>
            <li>
                <a href="/tuijian">推荐文章</a>
            </li>
            <li>
                <a href="/hot">热门文章</a>
            </li>
            @if (albumBriefs?.Count > 0)
            {
                <li class="group">文章专辑</li>
                @foreach (var album in albumBriefs)
                {
                    <li>
                        <a title="@album.Description" href="/albums/@album.Slug">@album.Name (@album.BlogCount)</a>
                    </li>
                }
            }
            @if (categoryBriefs?.Count > 0)
            {
                <li class="group">文章分类</li>
                @foreach (var cat in categoryBriefs)
                {
                    <li>
                        <a title="@cat.Description" href="/categories/@cat.Slug">@cat.Name (@cat.BlogCount)</a>
                    </li>
                }
            }
        </ul>
    </div>
    <em></em>
</nav>