@model HomeHeaderViewModel


<!-- banner begin-->
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @if (Model.RecommendItems != null && Model.RecommendItems.Any())
            {
                @foreach (var item in Model.RecommendItems)
                {
                    <div class="swiper-slide">

                        <a href="/@item.CreateDate?.ToString("yyyy/MM")/@item.Slug">
                            <img src="@item.Cover" alt="banner1">
                            <span>@item.Title</span>
                        </a>
                    </div>
                }
            }
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<!-- banner end-->
<!-- headline-boc begin-->
<div class="headline-box whitebg">
    <div class="headline-news">
        @if (Model.First != null)
        {
            <h2 class="headline-news-title">
                <span>头条</span>
                <a href="/@Model.First.CreateDate?.ToString("yyyy/MM")/@Model.First.Slug" title="@Model.First.Title">
                    @Model.First.Title
                </a>
            </h2>
            <p class="headline-news-smalltext">
                @Model.First.BriefDescription
            </p>
        }

        <ul class="headline-news-list">
            @if (Model.LatestItems != null && Model.LatestItems.Any())
            {
                @foreach (var item in Model.LatestItems)
                {
                    <li>
                        <a href="/@item.CreateDate?.ToString("yyyy/MM")/@item.Slug" title="@item.Title">@item.Title</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>