@page

@inject ICaller Caller
@{
    var siteInfo = await Caller.GetAsync<SiteInfo>("/api/systems");
    var recommendBlogs = await Caller.GetAsync<List<BlogBrief>>("/api/blogs/recommend");
    ViewData[ViewDataKeys.Title] = "首页";
    ViewData[ViewDataKeys.Keywords] = siteInfo?.Keywords;
    ViewData[ViewDataKeys.Description] = siteInfo?.Description;
}

<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @if (recommendBlogs?.Any() == true)
            {
                foreach (var recommendBlog in recommendBlogs)
                {
                    <div class="swiper-slide">
                        <a href="/@recommendBlog.CreationTime.Year/@recommendBlog.CreationTime.Month/@recommendBlog.Slug" target="_blank">
                            <img src="@recommendBlog.Cover" alt="@recommendBlog.Title">
                        </a>
                    </div>
                }
            }
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <script>
        //banner
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 100,
            centeredSlides: true,
            autoplay: 8000,
            autoplayDisableOnInteraction: false,
        });
    </script>
</div>
<!-- banner end-->
<div class="blog_list">
    @if (recommendBlogs?.Any() == true)
    {
        <ul>
            @foreach (var blog in recommendBlogs)
            {
                <li>
                    <a href="@blog.CreationTime.ToString("/yyyy/MM")/@blog.Slug" class="blog_more">
                        <h2>@blog.Title</h2>
                        <div class="ps">
                            <span class="ps_tj">推荐</span><span class="ps_yc">原创</span>
                        </div>
                        <p>@blog.Description</p>
                    </a>
                    <div class="info">
                        <span class="info_class">
                            <a href="/">云计算</a>
                        </span><span class="info_time">@blog.CreationTime.ToString("yyyy-MM-dd HH:mm")</span><span class="info_view">23</span>
                    </div>
                </li>
            }
        </ul>
    }
</div>
<div class="read_more">
    <a href="/">查看更多</a>
</div>